


<!-- <p>home works!</p> -->
<!-- <p-button label="Sign out" (onClick)="logOut()"></p-button> -->

<div class="main-container">
    <div class="blur-circle1">

    </div>
    <div class="blur-circle2">

    </div>
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo"><h4>JobBoard</h4></a>
        <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Work</li>
          <li>Info</li>
          <li><p-button label="Login" (onClick)="logOut()"></p-button></li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Discover the career path that’s right for you!</h1>
          <p>Find Jobs, Employment & Career Opportunities.</p>
          <button>Explore now </button>
        </div>
        
     
    </div>
  </div>
</div>